{% extends 'backend/base.html.twig' %}

{% block page_content %}

    <h3>{{ 'Assignment and removal of team roles' | trans }}:</h3>

    {% if rolesUserSearchForm is defined %}
        {{ form_start(rolesUserSearchForm,{action:path('backend_roles_search')}) }}
        <div class="form-row col-md-12">
            <div class="form-group col-md-6">
                {{ form_row(rolesUserSearchForm.content_user_searchfield) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_row(rolesUserSearchForm.search_One) }}
            </div>
        </div>
        {{ form_end(rolesUserSearchForm) }}
    {% endif %}

    <div>
        {% if user_account_details is defined %}
            {% if user_account_details %}
                <ul>
                    <li>{{ 'Username' | trans }}: {{ user_account_details.username }}</li>
                    <li>{{ 'User Id' | trans }}: {{ user_account_details.id }}</li>
                    <li>{{ 'Role(s)' | trans }}:
                        <ul>
                            {% for role in user_account_details.roles %}
                                <li>{{ role }}
                                    <a class="btn btn-primary"
                                       href="{{ path('backend_roles_remove_role', { 'userId': user_account_details.id, 'role': role }) }}">{{ 'Remove role' | trans }}</a>
                                </li>
                            {% else %}
                                -
                            {% endfor %}
                        </ul>
                    </li>
                </ul>

                {% if user_account_details.roles %}
                    {% for roleName in roleNames | sort((a, b) => a.role) | column('role') %}
                        <a class="btn btn-primary"
                           href="{{ path('backend_roles_promote_role', { 'userId': user_account_details.id, 'role': roleName }) }}">{{ 'Grant'  | trans }} {{ roleName }}</a>
                    {% endfor %}
                {% else %}
                    <a class="btn btn-primary"
                       href="{{ path('backend_roles_promote_role', { 'userId': user_account_details.id, 'role': 'ROLE_TEAM' }) }}">{{ 'Grant ROLE_TEAM'  | trans }}</a>
                {% endif %}
            {% else %}
                <br/><br/>
                <span>{{ 'No user data found' | trans }}..</span>
            {% endif %}
        {% endif %}
    </div>
    <hr>

{% endblock %}
