{% extends 'base.html.twig' %}

{% set page_title = "Field Notes" | trans %}
{% set page_title_image = "resource2/ocstyle/images/misc/32x32-home.png" %}

{% block body %}
    {% if fieldNotes %}
        <font size="2">
        <table class="searchtable" border="0" cellspacing="0" cellpadding="0" width="98.5%">
            <thead>
                <tr>
                    <th colspan="2">{% trans %}Cache{% endtrans %}</th>
                    <th class="nowrap">{% trans %}Date{% endtrans %}</th>
                    <th class="nowrap">{% trans %}Log Type{% endtrans %}</th>
                    <th class="nowrap">{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for fieldNote in fieldNotes %}
                    <tr>
                        <td class="{{ cycle(['search_listcolor1', 'search_listcolor2'], loop.index) }}"><img src="resource2/ocstyle/images/cacheicon/traditional-s.gif" />{# @TODO #}</td>
                        <td class="{{ cycle(['search_listcolor1', 'search_listcolor2'], loop.index) }}"><a href="/viewcache.php?cacheid={{ fieldNote.geocache.cacheId }}">{{ fieldNote.geocache.name }}</a></td>
                        <td class="nowrap {{ cycle(['search_listcolor1', 'search_listcolor2'], loop.index) }}">{{ fieldNote.date | date('Y-m-d H:i:s') }}</td>
                        <td class="nowrap {{ cycle(['search_listcolor1', 'search_listcolor2'], loop.index) }}">{{ fieldNote.type }}</td>
                        <td class="nowrap {{ cycle(['search_listcolor1', 'search_listcolor2'], loop.index) }}"><a href="">Log it</a>&nbsp;|&nbsp;<a href="{{ path('field-notes.delete', {id: fieldNote.id}) }}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </font>
    {% else %}
        {% trans %}You don't have any Field Notes.{% endtrans %}
    {% endif %}

    <hr align="left" style="width:98%" />
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{% trans %}Upload{% endtrans %}" class="btn btn-default"/>
    {{ form_end(form) }}

{% endblock %}
