{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block logo_mini %}<b>OC</b>de{% endblock %}
{% block logo_large %} <b>Opencaching.de</b>{% endblock %}

{% block page_title %}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block navbar_search_form %}
    <!-- SEARCH FORM -->
    {# TODO: Suchformular noch funktionsfähig machen.. #}
    {# TODO: nur anzeigen, wenn Bildschirm breit genug ist.. #}
    <form class="form-inline ml-6">
        <span class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
{#            <span class="input-group-append"> #}
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
{#            </span> #}
        </span>
    </form>
{% endblock %}

{% block navbar_right %}
    {% if app.user %}
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Logout icon -->
            <li class="nav-item dropdown">
                <a href="{{ path('app_security_logout') }}"><i class="fas fa-sign-out-alt"></i> {{ 'Logout' | trans }}</a>
            </li>
            </br>

            <!-- Messages Dropdown Menu -->
            <li class="nav-item dropdown">
                {# TODO: statt der Mustertexte und -nutzer was Richtiges einbauen.. #}
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-danger navbar-badge">2</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="../user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Max Mustermann
                                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Ruf mich an...</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="../user2-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Klara
                                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">I got your message bro</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                </div>
            </li>
            </br>

            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                {# TODO: statt der Musternachrichten was Richtiges einbauen.. #}
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
        </ul>
    {% else %}
        <!-- Login/Register/Activation icon -->
        <a href="{{ path('app_security_login') }}"><i class="fas fa-sign-in-alt"></i> {{ 'Login' | trans }}</a></br>
        <a href="{{ path('app_security_register') }}"><i class="fas fa-sign-in-alt"></i> {{ 'Register new user' | trans }}</a></br>
        <a href="{{ path('app_security_account_activation') }}"><i class="fas fa-sign-in-alt"></i> {{ 'Activate account' | trans }}</a></br>
    {% endif %}
{% endblock %}


{% block page_content %}
    {% if is_granted('ROLE_TEAM') %}
        <br/>
        <a href="{{ path('backend_index_index') }}">BACKEND</a>
    {% endif %}
{% endblock %}

{% block footer %}
    <footer class="main-footer ">
        {# TODO: Links anpassen sobald verfügbar.. #}
        <a href="#">{{ 'Privacy policy' | trans }}</a>
        ,
        <a href="#">{{ 'Imprint' | trans }}</a>
        ,
        <a href="#">{{ 'Contact' | trans }}</a>
        ,
        <i class="fas fa-copyright"></i> opencaching.de {{ "now" | date("Y") }}
    </footer>
{% endblock %}
