{% extends 'app/base.html.twig' %}

{% block page_content %}

    {% include '/app/maps/maps.leaflet.js' %}
    {% include '/app/maps/maps.const.js' %}

    <div>
        <h3>{{ 'Map examples as feasibility studies' | trans }}..</h3>
    </div>

    <!-- Leaflet -->
    <hr>

    <div id="mapForOC" class="map map-home" style="height: 400px; margin-top: 50px;"></div>

    <script>

        // Basiskarten definieren
        var openStreetMapDE = L.tileLayer(OSMDEUrl, {id: 'MapID', attribution: OSMDEAttribution});
        var openTopoMap = L.tileLayer(openTopoMapUrl, {id: 'MapID', attribution: openTopoMapAttribution});
        var cyclOSMMap = L.tileLayer(CyclOSMEUrl, {id: 'MapID', attribution: CyclOSMAttribution});

        var baseMaps = {
            "OSM de": openStreetMapDE,
            "OpenTopoMap": openTopoMap,
            "CyclOSM": cyclOSMMap,
        };

        <!-- Layer, z.B. für Caches, oder Wegpunkte, oder Umschaltung zw. Original- und korrigierten Koordinaten -->
        var overlayCaches = L.layerGroup();
        var CacheMarker;

        {% for WP in mapWP %}
        CacheMarker = L.marker([{{ WP.latitude }}, {{ WP.longitude }}], {
            opacity: 1.0,
            riseOnHover: true,
            title: '{{ WP.wpOc }} {{ WP.name }}',
            icon: CacheIcon_{{ WP.cacheType.kmlName }}
        }).bindPopup("{{ WP.wpOc }}<br/><a href='{{ path('app_cache_by_wp_oc_gc', {'wpID': WP.wpOc }) }}'>{{ WP.name }}</a><br/><a href='{{ path('app_user_by_id', {'userID': WP.user.userId }) }}'>{{ WP.user.username }}</a>");

        overlayCaches.addLayer(CacheMarker);
        {% endfor %}

        <!-- Layer für Spuren von Moving Caches -->
        var overlayMovingTracks = L.layerGroup();
        var CacheTrackCoordinatesPackage = JSON.parse('{{ movingCachesTracks | json_encode | raw }}');
        var CacheTrackCoordinates = new Array();

        for (i in CacheTrackCoordinatesPackage) {
            for (k in CacheTrackCoordinatesPackage[i]) {
                CacheTrackCoordinates.push(CacheTrackCoordinatesPackage[i][k])
            }
        }

        var CacheTrack = L.polyline(CacheTrackCoordinates, {color: 'blue', weight: 2, opacity: 0.8});
        overlayMovingTracks.addLayer(CacheTrack);

        <!-- An- und abwählbare Layer definieren, die beim ersten Kartenladen vorhanden sein sollen -->
        var overlayMaps = {
            "Caches": overlayCaches,
            "Moving Caches Tracks": overlayMovingTracks
        }

        <!-- Karte erstellen mit Startkoordinate und Zoom -->
        var mapLL = L.map('mapForOC', {
            center: [{{ mapCenterViewLat }}, {{ mapCenterViewLon }}],
            layers: [openStreetMapDE, overlayCaches, overlayMovingTracks],
            zoom: {{ mapZoom }},
            zoomControl: 'bottomright'
        });

        <!-- hier Layer einfügen, die beim ersten Kartenladen zwar vorhanden, aber deaktiviert sein sollen -->
        mapLL.removeLayer(overlayMovingTracks);

        <!-- Basiskarten und Layer der Karte hinzufügen -->
        L.control.layers(baseMaps, overlayMaps).addTo(mapLL);

        var locateOptions = {
            flyTo: true,
            showCompass: true,
        };
        L.control.locate(locateOptions).addTo(mapLL);

    </script>
    Leaflet


    <!-- OpenLayers -->
    <hr>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>
    <!-- https://openlayers.org/en/latest/doc/quickstart.html -->

    <div id="mapOL" class="map" style="height: 400px; margin-top: 50px;"></div>

    <script>
        var mapOL = new ol.Map({
            target: 'mapOL',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([{{ mapCenterViewLon }}, {{ mapCenterViewLat }}]),
                zoom: {{ mapZoom }}
            })
        });

        // einzelner Marker
        var layer = new ol.layer.Vector({
            source: new ol.source.Vector({
                features: [
                    new ol.Feature({
                        geometry: new ol.geom.Point(ol.proj.fromLonLat([{{ mapCenterViewLon }}, {{ mapCenterViewLat }}]))
                    })
                ]
            })
        });
        mapOL.addLayer(layer);

    </script>
    OpenLayers

{% endblock %}
