{% extends 'backend/base.html.twig' %}

{% block page_content %}

    <div>
        {% if user_by_id is defined %}
            <h3><br/>{{ 'User details' | trans }}..</h3>

            <div>
                {% if user_by_id %}
                    <br/>
                    <ul>
                        <li><b>{{ 'Details for user' | trans }}:</b> {{ user_by_id.username }}</li>
                        <li><b>{{ 'Country' | trans }}:</b> {{ user_by_id.country }}</li>
                        <li><b>{{ 'Last login' | trans }}:</b> {{ user_by_id.lastLogin | date('d.m.Y') }}</li>

                        {% if is_granted('ROLE_TEAM') %}
                            <br/>
                            <li><b>{{ 'User ID' | trans }}:</b> {{ user_by_id.userId }}</li>
                            <li><b>{{ 'Email' | trans }}:</b> {{ user_by_id.email }}</li>
                            <li><b>{{ 'Email validity' | trans }}:</b> {% if user_by_id.emailProblems %}<i class="fas fa-times"></i>
                                {% else %}<i class="fas fa-check"></i>
                                {% endif %}</li>
                            <li><b>{{ 'Account created' | trans }}:</b> {{ user_by_id.dateCreated | date('d.m.Y H:i:s') }}</li>
                            <li><b>{{ 'Last change' | trans }}:</b> {{ user_by_id.lastModified | date('d.m.Y H:i:s') }}</li>
                            <li><b>{{ 'User active' | trans }}:</b> {% if user_by_id.isActive %}<i class="fas fa-check"></i>{% else %}<i
                                        class="fas fa-times"></i>{% endif %}</li>
                            <li><b>{{ 'Activation code' | trans }}
                                    :</b> {% if user_by_id.activationCode %}{{ user_by_id.activationCode }}{% else %}
                                    <i class="fas fa-times"></i>{% endif %}</li>
                            <li><b>{{ 'First name' | trans }}:</b> {% if user_by_id.firstname %}{{ user_by_id.firstname }}{% else %}<i
                                        class="fas fa-times"></i>{% endif %}</li>
                            <li><b>{{ 'Last name' | trans }}:</b> {% if user_by_id.lastname %}{{ user_by_id.lastname }}{% else %}<i
                                        class="fas fa-times"></i>{% endif %}</li>
                            <li><b>{{ 'GDPR deleted' | trans }}:</b> {% if user_by_id.gdprDeletion %}<i class="fas fa-check"></i>{% else %}<i
                                        class="fas fa-times"></i>{% endif %}</li>
                        {% endif %}
                    </ul>
                {% else %}
                    <br/><br/>
                    <span>{{ 'No user found' | trans }}.. :-)</span>
                {% endif %}
            </div>
        {% else %}
            <br/><br/>
            <span>{{ 'Something went wrong' | trans }}.. :-)</span>
        {% endif %}

    </div>

    <hr>

{% endblock %}
