{% extends 'backend/base.html.twig' %}

{% block page_content %}
    <div>
        <h3>{{ 'Register a new user' | trans }}..</h3>

        <p>{{ 'To create an account at Opencaching.de, you have to enter a vaild e-mail address and a user name.
        An activation code will be sent to the e-mail address you supplied.' | trans }}</p>

        <p>{{ 'Only one account can be created per E-Mail address. First name, last name and country are optional.' | trans }}</p>

        {% if userRegistrationForm is defined %}
            {{ form_start(userRegistrationForm, {'action': path('backend_user_index'), 'method': 'POST'}) }}
            {{ 'Username' | trans }}: {{ form_row(userRegistrationForm.content_username) }}
            {{ 'First name' | trans }}: {{ form_row(userRegistrationForm.content_first_name) }}
            {{ 'Last name' | trans }}: {{ form_row(userRegistrationForm.content_last_name) }}
            {{ 'Country' | trans }}: {{ form_row(userRegistrationForm.content_country) }}
            {{ 'E-mail' | trans }}: {{ form_row(userRegistrationForm.content_email) }}
            {{ 'Your Password' | trans }}: {{ form_row(userRegistrationForm.content_password.first) }}
            {# TODO: Password Confirmation not working?!!? #}
            {{ 'Confirm password' | trans }}: {{ form_row(userRegistrationForm.content_password.second) }}
            {# TODO: diverse Links in den Texten noch einfügen.. #}
            <p>{{ ' We respect your privacy. Your personal data will be stored in our database but not disclosed to third parties. Please note our detailed privacy statement. If you have further questions, please contact us before you create an account. ' }}</p>
            <br/>
            {{ form_row(userRegistrationForm.tos) }} {{ 'I\'ve read and understand the privacy statement, the terms of service and the Data license and accept them.' | trans }}
            {{ form_row(userRegistrationForm.submit, {'label': 'Submit' | trans }) }}
        {% endif %}
    </div>

    <div>
        {#        {% if all_users_by_searchfield is defined and all_users_by_searchfield != 0 %} #}
        {#            {% if all_users_by_searchfield %} #}
        {#                <br/> #}
        {#                <div> {{ 'Found' }}: {{ all_users_by_searchfield | length }} {{ 'user(s)' | trans }}</div> #}
        {#                <br/> #}
        {#                <table class="table table-striped table-hover"> #}
        {#                    <thead class="thead-dark"> #}
        {#                    <tr> #}
        {#                        <th scope="col" class="asc">{{ 'User Id' | trans }}:</th> #}
        {#                        <th scope="col" class="asc">{{ 'Username' | trans }}:</th> #}
        {#                        <th scope="col">&nbsp;</th> #}
        {#                    </tr> #}
        {#                    </thead> #}
        {#                    <tbody> #}
        {#                    {% for user in all_users_by_searchfield %} #}
        {#                        <tr> #}
        {#                            <td>{{ user.user_id }}</td> #}
        {#                            <td>{{ user.username }}</td> #}
        {#                            <td> #}

        {#                            </td> #}
        {#                        </tr> #}
        {#                    {% endfor %} #}
        {#                    </tbody> #}
        {#                </table> #}
        {#            {% else %} #}
        {#                <br/><br/> #}
        {#                <span>{{ 'No user found' | trans }}.. :-(</span> #}
        {#            {% endif %} #}
        {#        {% endif %} #}

    </div>

{% endblock %}
