{% extends 'backend/base.html.twig' %}

{% block page_content %}

    {% include '/backend/maps/maps.leaflet.js' %}
    {% include '/backend/maps/maps.const.js' %}

    <div>
        <h3>{{ 'Map examples' | trans }}..</h3>
    </div>

    <!-- OpenLayers -->
    <hr>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>
    <!-- https://openlayers.org/en/latest/doc/quickstart.html -->

    <div id="mapOL" class="map" style="height: 300px; margin-top: 50px;"></div>

    <script>
        var mapOL = new ol.Map({
            target: 'mapOL',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([{{ mapCenterViewLon }}, {{ mapCenterViewLat }}]),
                zoom: 8
            })
        });
    </script>
    OpenLayers


    <!-- Leaflet -->
    <hr>

    <div id="mapForOC" class="map map-home" style="height: 300px; margin-top: 50px;"></div>

    <script>

        <!-- Basiskarten -->
        var openStreetMapDE = L.tileLayer(OSMDEUrl, {id: 'MapID', tileSize: 512, zoomOffset: -1, attribution: OSMDEAttribution}),
                openTopoMap = L.tileLayer(openTopoMapUrl, {id: 'MapID', tileSize: 512, zoomOffset: -1, attribution: openTopoMapAttribution});
        cyclOSMMap = L.tileLayer(CyclOSMEUrl, {id: 'MapID', tileSize: 512, zoomOffset: -1, attribution: CyclOSMAttribution});

        var baseMaps = {
            "OSM de": openStreetMapDE,
            "OpenTopoMap": openTopoMap,
            "CyclOSM": cyclOSMMap,
        };

        <!-- Layer, z.B. für Caches, oder Wegpunkte, oder Umschaltung zw. Original- und korrigierten Koordinaten -->
        var overlayCaches = L.layerGroup();
        var CacheMarker;

        {% for WP in mapWP %}
        CacheMarker = L.marker([{{ WP.latitude }}, {{ WP.longitude }}], {
            opacity: 1.0,
            riseOnHover: true,
            title: '{{ WP.wpOc }} {{ WP.name }}',
            icon: CacheIcon_{{ WP.cacheType.kmlName }}
        }).bindPopup('{{ WP.wpOc }}<br/>{{ WP.name }}<br/>{{ WP.user.username }}');

        overlayCaches.addLayer(CacheMarker);
        {% endfor %}

        var overlayMaps = {
            "Caches": overlayCaches
        }

        <!-- Karte erstellen mit Startkoordinate und Zoom -->
        var mapLL = L.map('mapForOC', {
            center: [{{ mapCenterViewLat }}, {{ mapCenterViewLon }}],
            layers: [openStreetMapDE, overlayCaches],
            zoom: {{ mapZoom }},
            zoomControl: 'bottomright'
        });

        <!-- Basiskarten und Layer der Karte hinzufügen -->
        L.control.layers(baseMaps, overlayMaps).addTo(mapLL);

    </script>
    Leaflet

{% endblock %}
