{% extends 'backend/base.html.twig' %}

{% block page_content %}

    {% include '/backend/support/support.header.html.twig' %}

    <h3><br/>{{ 'Import GPX file' | trans }}</h3>
    <div>
        {% if amountProcessedCaches is defined %}
            {% if amountProcessedCaches > 0 %}
                <div> {{ 'Caches read from file' | trans }}: {{ amountProcessedCaches }}</div>
                <div> {{ '-> found a reference to an OC cache' | trans }}: {{ amountAssignedCaches }}</div>
                <div> {{ '-> changes to former imports detected' | trans }}: {{ amountUpdatedCaches }}</div>
            {% endif %}
        {% endif %}

        <br/>
        <br/>
        {% if supportUploadGPXForm is defined %}
            {{ form_start(supportUploadGPXForm, {'action': path('backend_support_gpx_import'), 'method': 'POST'}) }}
            {{ form_row(supportUploadGPXForm.gpx_file) }}
            {{ form_row(supportUploadGPXForm.start_upload, {'label': 'Start upload' | trans }) }}
        {% endif %}
        <br/>
    </div>

{#    <hr>#}
{#    <h3><br/>{{ 'Assign non-assigned imports' | trans }}</h3>#}
{#    <div>#}
{#    </div>#}

{#    <hr>#}
{#    <h3><br/>{{ 'Check for differences of formerly imported GPX data' | trans }}</h3>#}
{#    <div>#}
{#        {% if amountCheckedCaches is defined %}#}
{#            {% if amountCheckedCaches > 0 %}#}
{#                <div> {{ 'Caches checked in database' | trans }}: {{ amountCheckedCaches }}</div>#}
{#                <div> {{ 'Caches processed for differences' | trans }}: {{ amountProcessedCaches }}</div>#}
{#            {% endif %}#}
{#        {% endif %}#}

{#        <a class="btn btn-primary" href="{{ path('backend_support_gpx_check_differences', {  }) }}">{{ 'Start check' | trans }}..</a>#}
{#    </div>#}

{% endblock %}
