{% extends 'backend/base.html.twig' %}

{% block page_content %}

    {% include '/backend/support/insertDateAndUsernameButton.js' %}

    {% include '/backend/support/support.header.html.twig' %}

    <h3><br/>{{ 'Reported caches' | trans }} </h3>

    <div>
        {% if reported_cache_by_id is defined %}
            {% if reported_cache_by_id %}
                <br/>
                <p>
                    <b>{{ 'Details for report of' | trans }}:</b> {{ reported_cache_by_id.cache.name }}
                    <b>by:</b> {{ reported_cache_by_id.user.username }}
                    (
                    <a href="https://www.geocaching.com/seek/nearest.aspx?t=k&origin_lat={{ reported_cache_by_id.cache.latitude }}&origin_long={{ reported_cache_by_id.cache.longitude }}&dist=1"
                       target="_blank">{{ 'Nearby search at geocaching.com' | trans }}
                    </a>
                    )
                </p>
                <p><b>{{ 'Report created' | trans }}:</b> {{ reported_cache_by_id.dateCreated | date('d.m.Y') }}</p>
                <p><b>{{ 'Report last modified' | trans }}:</b> {{ reported_cache_by_id.lastmodified | date('d.m.Y') }}</p>
                <p><b>{{ 'Reason' | trans }}:</b> {{ reported_cache_by_id.reportReason.name | trans }}</p>
                <p><b>{{ 'State' | trans }}:</b> {{ reported_cache_by_id.reportStatus.name | trans }}
                    {% if reported_cache_by_id.admin %} <b>by:</b> {{ reported_cache_by_id.admin.username }} {% endif %}</p>
                <p><b>{{ 'Reporter comment' | trans }}:</b> {{ reported_cache_by_id.note }}</p>
                <br/>

                <hr>
                <p><b>{{ 'Admin comment' | trans }}:</b></p>
                {{ form_start(supportAdminCommentForm, {'action': path('backend_support_reported_cache_save_text'), 'method': 'POST' }) }}
                {{ form_row(supportAdminCommentForm.content_comment_field, {'value': reported_cache_by_id.comment }) }}
                {{ form_row(supportAdminCommentForm.save_comment_button, {'label': 'Save comment' | trans }) }}
                {{ form_row(supportAdminCommentForm.hidden_ID1, {'value': reported_cache_by_id.id }) }}
                <a class="btn btn-primary"
                   onClick="addDateAndNameToTextField('support_comment_field_content_comment_field',
                   {{ app.user.country | json_encode }}, {{ app.user.language | json_encode }}, {{ app.user.username | json_encode }})"
                   style="display: block; width: 180px;">{{ 'Add date & user name' | trans }}</a>
                {{ form_end(supportAdminCommentForm) }}
                <br/>

                <hr>
                <p><b>{{ 'Action' | trans }}</b></p>
                <span class="badge badge-danger">Contact Owner/Reporter müssen noch warten, bis Nachrichten- und Logfunktionen vorhanden sind</span>
                <br/>
                {% if not reported_cache_by_id.admin %}
                    <a class="btn btn-primary"
                       href="{{ path('backend_support_reported_cache_supportuser_assignment', { 'repID': reported_cache_by_id.id, 'adminId': app.user.id, 'route': 'backend_support_reported_cache'}) }}">{{ 'Assign to me' | trans }}</a>
                {% else %}
                    <a class="btn btn-primary"
                       href="{{ path('backend_support_reported_cache_supportuser_assignment', { 'repID': reported_cache_by_id.id, 'adminId': 0, 'route': 'backend_support_reported_cache'}) }}">{{ 'Remove my assignment' | trans }}</a>
                {% endif %}
                <a class="btn btn-secondary" href="#">{{ 'Contact Owner' | trans }}</a>
                <a class="btn btn-secondary" href="#">{{ 'Contact Reporter' | trans }}</a>
                {% if reported_cache_by_id.status < 3 %}
                    <a class="btn btn-primary"
                       href="{{ path('backend_support_reported_cache_set_status', { 'repID': reported_cache_by_id.id, 'route': 'backend_support_reported_cache'}) }}">{{ 'Mark as finished' | trans }}</a>
                {% endif %}
                <br/>

                <hr>
                <span class="badge badge-danger">Umsetzung muss noch warten, bis Logfunktionen vorhanden sind</span>
                <p><b>{{ 'Set state' | trans }}</b></p>
                {% if cache_status is defined %}
                    <a class="btn btn-secondary" href="#">{{ cache_status[0].name | trans }}</a>
                    <a class="btn btn-secondary" href="#">{{ cache_status[1].name | trans }}</a>
                    <a class="btn btn-secondary" href="#">{{ cache_status[2].name | trans }}</a>
                    <a class="btn btn-secondary" href="#">{{ cache_status[5].name | trans }}</a>
                    <a class="btn btn-secondary" href="#">{{ cache_status[6].name | trans }}</a>
                {% endif %}

                <hr>
                <p><b>{{ 'Status changes' | trans }}</b></p>
                {% if report_status_modified is defined %}
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="asc">{{ 'Date' | trans }}</th>
                            <th scope="col" class="asc">{{ 'Status' | trans }}</th>
                            <th scope="col" class="asc">{{ 'Changed by' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for statusChange in report_status_modified %}
                            <tr>
                                <td>{{ statusChange.dateModified | date('d.m.Y') }}</td>
                                <td>{{ statusChange.cacheStatusOld.name | trans }} -> {{ statusChange.cacheStatusNew.name | trans }}</td>
                                <td>{{ statusChange.user.username }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% endif %}

            {% else %}
                <br/><br/>
                <span>{{ 'No reported caches found' | trans }}.. :-)</span>
            {% endif %}
        {% endif %}

    </div>

    <hr>

{% endblock %}
