{# Kopfzeile für alle Support-Unterseiten #}

<div class="container">
    <section class="container col-md-6">
        {% if supportCachesForm is defined %}
            {{ form_start(supportCachesForm,{action:path('backend_support_search')}) }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form_row(supportCachesForm.content_support_searchfield) }}
                </div>
                <div class="form-group col-md-2">
                    {{ form_row(supportCachesForm.search_All) }}
                </div>
                <div class="form-group col-md-2">
                    {{ form_row(supportCachesForm.search_One) }}
                </div>
            </div>
            {{ form_end(supportCachesForm) }}
        {% endif %}

    </section>

    <section class="container col-md-3">
        <a href="{{ path('backend_support_reported_caches') }}">{{ 'Reported caches' | trans }}</a>
    </section>

    <section class="container col-md-3">
        <a href="{{ path('backend_support_db_queries') }}">{{ 'Database queries' | trans }}</a>
    </section>
</div>

<hr>
