{% extends 'backend/base.html.twig' %}

{% block page_content %}

    {% include '/backend/support/support.header.html.twig' %}

    <h3><br/>{{ 'User account details' | trans }} </h3>

    <div>
        {% if user_account_details is defined %}
            {% if user_account_details %}
                <br/>
                <ul>
                    <li><b>{{ 'Details for user' | trans }}:</b> {{ user_account_details.username }}</li>
                    <li><b>{{ 'User ID' | trans }}:</b> {{ user_account_details.id }}</li>
                    <li><b>{{ 'Email' | trans }}:</b> {{ user_account_details.email }}</li>
                    <li><b>{{ 'Email validity' | trans }}:</b> {% if user_account_details.emailProblems %}<i class="fas fa-times"></i>
                        {% else %}<i class="fas fa-check"></i>
                        {% endif %}</li>
                    <li><b>{{ 'Account created' | trans }}:</b> {{ user_account_details.dateCreated | date('d.m.Y H:i:s') }}</li>
                    <li><b>{{ 'Last change' | trans }}:</b> {{ user_account_details.lastModified | date('d.m.Y H:i:s') }}</li>
                    <li><b>{{ 'User active' | trans }}:</b> {% if user_account_details.isActive %}<i class="fas fa-check"></i>{% else %}<i
                                class="fas fa-times"></i>{% endif %}</li>
                    <li><b>{{ 'Activation code' | trans }}
                            :</b> {% if user_account_details.activationCode %}{{ user_account_details.activationCode }}{% else %}
                            <i class="fas fa-times"></i>{% endif %}</li>
                    <li><b>{{ 'First name' | trans }}:</b> {% if user_account_details.firstname %}{{ user_account_details.firstname }}{% else %}<i
                                class="fas fa-times"></i>{% endif %}</li>
                    <li><b>{{ 'Last name' | trans }}:</b> {% if user_account_details.lastname %}{{ user_account_details.lastname }}{% else %}<i
                                class="fas fa-times"></i>{% endif %}</li>
                    <li><b>{{ 'Log entries' | trans }}:</b> <i class="fas fa-times"></i> <span class="badge badge-danger">muss noch warten, bis die Funktion implementiert werden kann..</span>
                    </li>
                    <li><b>{{ 'Caches hidden' | trans }}:</b> <i class="fas fa-times"></i> <span class="badge badge-danger">muss noch warten, bis die Funktion implementiert werden kann..</span>
                    </li>
                    <li><b>{{ 'Active caches hidden' | trans }}:</b> <i class="fas fa-times"></i> <span class="badge badge-danger">muss noch warten, bis die Funktion implementiert werden kann..</span>
                    </li>
                    <li><b>{{ 'Cache reports' | trans }}:</b> <i class="fas fa-times"></i> <span class="badge badge-danger">muss noch warten, bis die Funktion implementiert werden kann..</span>
                    </li>
                    <li><b>{{ 'Last login' | trans }}:</b> {{ user_account_details.lastLogin | date('d.m.Y') }}</li>
                </ul>

                <hr>
                <br/>

                {% if supportUserAccountActions is defined %}
                    {{ form_start(supportUserAccountActions, {action:path('backend_support_executeUAD_actions', {'userID': user_account_details.id } ) } ) }}
                    <div class="form-row">
                        <p><b>{{ 'Set account inactive (and lock caches)' | trans }}:</b> <span class="badge badge-danger">Button ist zwar aktiv, es ist aber noch keine Funktionalität hinterlegt..</span>
                            {{ form_row(supportUserAccountActions.button_account_inactive, {'label': 'Execute' | trans, 'repID': '123' }) }}</p>
                        <p><b>{{ 'GDPR conform account deletion' | trans }}:</b> <span class="badge badge-danger">Button ist zwar aktiv, es ist aber noch keine Funktionalität hinterlegt..</span>
                            {{ form_row(supportUserAccountActions.button_GDPR_deletion, {'label': 'Execute' | trans }) }}</p>
                        <p><b>{{ 'Mark email address as invalid' | trans }}:</b>
                            {{ form_row(supportUserAccountActions.button_mark_email_invalid, {'label': 'Execute' | trans }) }}</p>
                        <p><b>{{ 'Are you sure?' | trans }}:</b> {{ form_row(supportUserAccountActions.check_Sure) }}</p>
                    </div>
                    {{ form_end(supportUserAccountActions) }}
                {% endif %}

                <br/>
            {% else %}
                <br/><br/>
                <span>{{ 'No user found' | trans }}.. :-)</span>
            {% endif %}
        {% endif %}

    </div>

    <hr>

{% endblock %}
