{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block logo_mini %}<b>OC</b>de{% endblock %}
{% block logo_large %} <b>Opencaching.de</b>{% endblock %}

{% block page_title %}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
{#    <div class="container">#}
{#        {% include '/index/navigation.html.twig' %}#}
{#    </div>#}

    {% if app.user %}
        <div>
            <a href="{{ path('app_security_login') }}">{{ 'Login' | trans }}</a> {{ '(already logged in as' | trans }} {{ app.user.username }})
        </div>
        <div>
            <a href="{{ path('app_security_logout') }}">{{ 'Logout' | trans }}</a>
        </div>
    {% else %}
        <div>
            <a href="{{ path('app_security_login') }}">{{ 'Login' | trans }}</a>
        </div>
        <div>
            <a href="{{ path('app_security_register') }}">{{ 'Register new user' | trans }}</a>
        </div>
        <div>
            <a href="{{ path('app_security_account_activation') }}">{{ 'Activate account' | trans }}</a>
        </div>
    {% endif %}

    {% if is_granted('ROLE_TEAM') %}
        <br/>
        <a href="{{ path('backend_index_index') }}">BACKEND</a>
    {% endif %}

{% endblock %}

{% block footer %}
    <footer class="main-footer ">
        {#        TODO: Links anpassen sobald verfügbar.. #}
        <a href="#">{{ 'Privacy policy' | trans }}</a>
        ,
        <a href="#">{{ 'Terms of Service' | trans }}</a>
        ,
        <a href="#">{{ 'Impressum' | trans }}</a>
        ,
        <a href="#">{{ 'Contact' | trans }}</a>
    </footer>
{% endblock %}
